name: Lint
on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - '**.md'

  pull_request:
    types: [ opened, synchronize ]
    branches:
      - main
      - master
    paths-ignore:
      - '**.md'

  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: 1.23.0

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 3m
